body{
  background-color:black;
  color:white;
  font-family:"Futura";
  font-size:3rem;
  cursor:default;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

h1{
  font-weight:50;
  margin-bottom:75px;
  font-size:50px;
  }
h4{display:inline;
  font-size:2em;
  cursor:pointer;
}
p{
  display:inline;
  margin:10px;
}
div{
  display:block;
}

#rideknopf{
  color:grey;
  border:5px solid grey;
}
#reload:active{
  background-color:red;
}
#reload{
  border:5px solid white;
}
.knopf{
  padding:8px;
  display:inline-block;
  margin-top:1em;
  cursor:pointer;
  font-size:1.5em;
  transition: all 0.5s;
}
.knopf:active{
  background-color:white;
  transition:0s;
}
